@import "~materialize-css/dist/css/materialize.min.css";

.App {
  font-family: sans-serif;
  text-align: center;
}

.cards-container {
  margin: 0 auto;
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.count-val {
  font-weight: bold;
  font-size: 23px;
  display: flex;
  justify-content: center;
  display: inline-block;
  width: 25px;
  text-align: center;
}

.cards-count {
  display: flex;
  justify-content: start;
}

.card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transition: 0.4s all;
  transform-style: preserve-3d;
  background-color: #1ecfd6;
}

.scene {
  width: 100%;
  height: 180px;
  perspective: 600px;
}

.card__face {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
}

.card__face--front {
  background-color: #edd170;
}

.card__face--back {
  transform: rotateY(180deg);
  background-image: url("./giphy.webp");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.card.is-flipped {
  transform: rotateY(180deg);
}

.card.is-flipped-special .card__face--back {
  background-image: url("./giphy.gif");
  background-size: contain;
  background-position: 50% 50%;
}

.btn__count {
  height: 36px;
  border: none;
  background-color: #c05640;
}

.btn__reload {
  height: 36px;
  border: none;
  background-color: #c05640;
}
